/*Fonts*/
@font-face {
  font-family: PT Sans;
  font-weight: 400;
  font-style: normal;
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: PT Sans;
  font-weight: 700;
  font-style: normal;
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
}

/*variables*/

:root {
  --basic-font-family: 'PT Sans', Arial, sans-serif;

  --basic-color: #000000;
  --basic-color-opasity: rgba(0,0,0, 0.3);

  --basic-content-color: #ffffff;
  --basic-content-opacity: rgba(255,255,255, 0.3);

  --basic-bg-color: #E5E5E5;
  --block-bg-color: #EEEEEE;
  --image-bg-color: #888888;

  --element-color: #81B3D2;
  --element-hover-color: #669EC0;
  --element-active-color: #5496BD;

  --interactive-color: #766357;
  --interactive-hover-color: #604E43;
  --interactive-active-color: #503E33;

  --text-block-color: #333333;
  --hotel-rating-color: #666666;
  --footer-logo-color: #BDBBBC;

  --field-bg-color: #F2F2F2;
  --field-hover-color: #EBEBEB;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: var(--basic-font-family);
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-color);
  text-transform: uppercase;
  background-color: var(--basic-bg-color);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-content-color);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/*button*/

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: var(--basic-content-color);
  text-transform: uppercase;
  background-color: var(--interactive-color);
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--interactive-hover-color);
}

.button:active {
  background-color: var(--interactive-active-color);
  color: var(--basic-content-opacity)
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.3;
}

/*main-header*/

.site-navigation {
  list-style: none;
}

.site-navigation-link {
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-color);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: var(--element-color);
}

.site-navigation-link:active {
  color: var(--basic-color);
  opacity: 0.3;
}

.site-navigation-link.active {
  color: var(--interactive-color);
}

/*intro*/

.intro {
  background-color: var(--image-bg-color);
  background-image: url("../img/bg/mountains-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*advantages*/

.advantages {
  text-align: center;
}

.advantages-slogan {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.advantages-text {
  line-height: 26px;
}

.advantages-item {
  color: var(--basic-content-color);
  background-color: var(--element-color);
}

.advantages-item-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px
}

.advantages-needs-list {
  list-style: none;
}

.advantages-needs-title {
  font-weight: 700;
  font-size: 21px;
}

.advantages-comfort-list {
  list-style: none;
  background-color: var(--block-bg-color);
}

.advantages-comfort-title {
  font-weight: 700;
  font-size: 21px;
}

.advantages-comfort-number {
  color: var(--text-block-color);
}

.advantages-comfort-text {
  color: var(--text-block-color);
}

/*search*/

.search {
  text-align: center;
}

.search-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.search-form {
  font-weight: bold;
  line-height: 26px;
  background-color: var(--basic-content-color);
  border: 1px solid var(--basic-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-form-input {
  font: inherit;
  background-color: var(--field-bg-color);
  border: none;
}

.search-form-input:hover {
  background-color: var(--field-hover-color);
}

.search-form-input:focus {
  background-color: transparent;
  border: 2px solid var(--basic-bg-color);
  outline: none;
}

.search-calendar:hover svg,
.search-calendar:focus svg {
  fill: var(--basic-color);
}

.search-calendar:active svg {
  fill: var(--element-color);
}

.search-control {
  font: inherit;
  border: none;
  background-color: var(--field-bg-color);
  cursor: pointer;
}

.search-form-button {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--element-color);
}

.search-form-button:hover,
.search-form-button:focus {
  background-color: var(--element-hover-color);
}

.search-form-button:active {
  color: var(--basic-content-opacity);
  background-color: var(--element-active-color);
}

/*main-footer*/

.footer-contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer-contacts-link {
  font: inherit;
  color: var(--basic-color);
}

.footer-social-list {
  list-style: none;
}

.footer-social-link {
  font: inherit;
  color: inherit;
  background-color: var(--element-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--element-hover-color);
}

.footer-social-link:active {
  background-color: var(--element-active-color);
}

.footer-social-link:active svg {
  fill: var(--basic-content-opacity);
}

.footer-copyright {
  line-height: 26px;
}

.footer-copyright-link:hover svg,
.footer-copyright-link:focus svg {
  fill: var(--element-color);
}

.footer-copyright-link:active svg {
  fill: var(--footer-logo-color);
}

/*filters*/

.filter {
  color: var(--basic-content-color);
  background-color: var(--image-bg-color);
  background-image: url("../img/bg/blurry-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-hotels fieldset {
  border: none;
}

.filter-hotels legend {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px
}

.filter-list {
  list-style: none;
}

.filter-controls-container {
  border: 2px solid var(--basic-content-color);
  border-radius: 2px;
}

.filter-controls-input {
  text-transform: uppercase;
  color: var(--basic-content-color);
  background-color: transparent;
  border: none;
}

.filter-button {
  font: inherit;
  text-transform: uppercase;
  color: var(--basic-content-color);
  background-color: transparent;
  border: 2px solid var(--basic-content-color);
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--basic-color);
  background-color: var(--basic-content-color);
}

/*hotels*/

.hotels-sort {
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid var(--basic-bg-color);
}

.hotels-sort-found {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px
}

.hotels-sort-link {
  color: var(--basic-color-opasity);
  border-bottom: 1px dashed var(--element-color);
}

.hotels-sort-link.active {
  color: var(--element-color);
}

.hotels-sort-link:hover,
.hotels-sort-link:focus {
  color: var(--element-color);
}

.hotels-sort-link:active {
  color: var(--basic-color);
  border: none;
}


.hotels-control.active svg {
  fill: var(--element-color);
}

.hotels-control:hover svg,
.hotels-control:focus svg {
  fill: var(--basic-color);
}

.hotels-control:active svg {
  fill: var(--element-color);
}

.hotels-list {
  list-style: none;
}

.hotel-item {
  border-bottom: 1px solid var(--basic-bg-color);
}

.hotel-item-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotel-item-title a {
  font: inherit;
  color: var(--basic-color);
}

.hotel-item-title a:hover,
.hotel-item-title a:focus {
  color: var(--element-color);
}

.hotel-item-title a:active {
  color: var(--basic-color-opasity);
}

.hotel-item-booking {
  color: var(--text-block-color);
}

.hotel-detail-link {
  background-color: var(--element-color);
}

.hotel-detail-link:hover,
.hotel-detail-link:focus {
  background-color: var(--element-hover-color);
}

.hotel-detail-link:active {
  color: var(--basic-content-opacity);
  background-color: var(--element-active-color);
}

.hotel-rating {
  color: var(--hotel-rating-color);
  background-color: var(--field-bg-color);
}















