/*Fonts*/
@font-face {
  font-family: PT Sans;
  font-weight: 400;
  font-style: normal;
  src:
    url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: PT Sans;
  font-weight: 700;
  font-style: normal;
  src:
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
}

/*variables*/

:root {
  --basic-font-family: 'PT Sans', Arial, sans-serif;

  --basic-color: #000000;
  --basic-color-opacity: rgba(0,0,0, 0.3);

  --basic-content-color: #ffffff;
  --basic-content-opacity: rgba(255,255,255, 0.3);

  --basic-bg-color: #F2F2F2;
  --block-bg-color: #EEEEEE;
  --image-bg-color: #888888;

  --element-color: #81B3D2;
  --element-hover-color: #669EC0;
  --element-active-color: #5496BD;

  --interactive-color: #766357;
  --interactive-hover-color: #604E43;
  --interactive-active-color: #503E33;

  --text-block-color: #333333;
  --hotel-rating-color: #666666;
  --footer-logo-color: #BDBBBC;

  --field-bg-color: #F2F2F2;
  --field-hover-color: #EBEBEB;
  --border-color: #E5E5E5;
  --search-control-color: #A9A9A9;
  --toggle-color: #ABABAB;
}

.page {
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.page-body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--basic-font-family);
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-color);
  text-transform: uppercase;
  background-color: var(--basic-bg-color);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;

	white-space: nowrap;

	-webkit-clip-path: inset(100%);

	clip-path: inset(100%);
	clip: rect (0 0 0 0);
	overflow: hidden;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-content-color);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.inner-page .container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
}

/*button*/

.button {
  font: inherit;
  text-align: center;
  font-weight: bold;
  color: var(--basic-content-color);
  text-transform: uppercase;
  background-color: var(--interactive-color);
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--interactive-hover-color);
}

.button:active {
  background-color: var(--interactive-active-color);
  color: var(--basic-content-opacity)
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.3;
}

/*main-header*/

.main-header {
  padding: 0 73px;
  padding-right: 72px;
}

.main-nav {
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-item {
  width: 227px;
  margin-top: 14px;
  margin-bottom: 16px;
}

.site-navigation-item:nth-child(4n + 1) {
  text-align: left;
  padding-right: 10px;
}

.site-navigation-item:nth-child(4n + 2) {
  margin-right: 147px;
  padding-right: 10px;
  text-align: left;
}

.site-navigation-item:nth-child(4n + 3) {
  padding-left: 10px;
  text-align: right;
}

.site-navigation-item:nth-child(4n + 4) {
  padding-left: 10px;
  text-align: right;
  align-content: center;
}

.site-navigation-link {
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-color);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: var(--element-color);
}

.site-navigation-link:active {
  color: var(--basic-color);
  opacity: 0.3;
}

.site-navigation-link.active {
  color: var(--interactive-color);
  pointer-events: none;
}

/*intro*/

.intro {
  width: 100%;
  min-height: 509px;
  margin-bottom: 43px;
  padding-top: 76px;
  padding-bottom: 70px;
  background-color: var(--image-bg-color);
  background-image: url("../img/bg/mask-bg.png"),
  url("../img/bg/mountains-bg.jpg");

  background-position: bottom, center;
  background-size: contain, cover;
  background-repeat: no-repeat, no-repeat;
}

.intro-logo {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

/*advantages*/

.advantages {
  margin-bottom: 56px;
  text-align: center;
}

.advantages-slogan {
  width: 470px;
  margin: 0 auto;
  margin-bottom: 42px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.advantages-text {
  width: 520px;
  margin: 0 auto;
  margin-bottom: 52px;
  line-height: 26px;
}

.advantages-item {
  display: grid;
  grid-template-columns: auto auto;
  display: flex;
  flex-wrap: wrap;
  color: var(--basic-content-color);
  background-color: var(--element-color);
}

.advantages-item-block {
  width: 400px;
  padding: 46px 40px 54px;
}

.advantages-item-block.two {
  padding-top: 49px;
  padding-bottom: 51px;
}

.advantages-item-image {
  width: 800px;
  min-height: 100%;
  object-fit: cover;
}

.advantages-item-title {
  width: 150px;
  margin: 0;
  margin: 0 auto;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px
}

.advantages-item-number{
  display: block;
  margin-bottom: 24px;
}

.advantages-item-text {
  margin: 0;
}

.advantages-needs-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-needs-item {
  position: relative;
  padding: 159px 50px 72px;
}

.advantages-needs-item::before {
  content: "";

  position: absolute;
  top: 60px;
  left: 50%;
  width: 75px;
  height: 72px;

  margin-left: -38px;

  background-image: url("../img/svg/housing-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-needs-food::before {
  top: 61px;
  height: 70px;
  background-image: url("../img/svg/food-icon.svg");
}

.advantages-needs-souvenirs::before {
  top: 55px;
  width: 64px;
  height: 77px;
  margin-left: -32px;
  background-image: url("../img/svg/souvenirs-icon.svg")
}

.advantages-needs-title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 21px;
}

.advantages-needs-text {
  margin: 0;
  margin-bottom: 10px;
}

.advantages-comfort-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--block-bg-color);
}

.advantages-comfort-item {
  padding: 47px 71px 41px;
}

.advantages-comfort-title {
  width: 150px;
  margin: 0;
  margin: 0 auto;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 21px;
}

.advantages-comfort-number {
  display: block;
  margin-bottom: 23px;
  color: var(--text-block-color);
}

.advantages-comfort-text {
  margin: 0;
  color: var(--text-block-color);
}

/*search*/

.search-question {
  display: block;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 34px;
  padding-right: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.search-text {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 43px;
  line-height: 24px;
  text-align: center;
}

.search-wrapper {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.search-button {
  display: block;
  width: 568px;
  padding: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.search-form {
  position: absolute;
  width: 568px;
  padding: 55px;
  font-weight: 700;
  line-height: 26px;
  background-color: var(--basic-content-color);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.search-item {
  position: relative;
  margin-bottom: 29px;
}

.search-item-departure {
  margin-bottom: 30px;
}

.search-item label {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.search-item-label {
  min-width: 112px;
  padding-bottom: 2px;
  padding-right: 10px;
}

.search-form-input {
  width: 100%;
  padding: 3px 60px 5px 11px;
  font: inherit;
  text-transform: uppercase;
  background-color: var(--basic-bg-color);
  border: 2px solid var(--basic-bg-color);
}

.search-item-departure .search-form-input {
  padding-left: 10px;
}

.search-form-input:hover {
  background-color: var(--field-hover-color);
  border-color: var(--field-hover-color);
}

.search-form-input:focus {
  background-color: transparent;
  border-color: var(--border-color);
  outline: none;
}

.search-calendar {
  position: absolute;
  top: 50%;
  right: 9px;

  margin-top: -12px;
  width: 21px;
  height: 23px;
}

.search-calendar:hover svg,
.search-calendar:focus svg {
  fill: var(--basic-color);
}

.search-calendar:active svg {
  fill: var(--element-color);
}

.search-form-people {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 54px;
}

.search-people-item {
  position: relative;
}

.search-people-item label {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.search-people-input {
  width: 38px;
  padding: 3px 4px 5px;
  margin-left: 38px;
  margin-right: 38px;
  text-align: center;
}

.search-children-label {
  padding-right: 24px;
  text-align: end;
}

.search-people-children {
  justify-self: end;
}

.search-control {
  position: absolute;
  top: 50%;
  right: 79px;

  width: 38px;
  height: 38px;
  padding: 0;
  margin-top: -19px;
  font: inherit;
  border: none;
  background-color: var(--basic-bg-color);
  cursor: pointer;
}

.search-control-plus {
  right: 3px;
}

.control-children-minus {
  right: 76px;
}

.control-children-plus {
  right: 0;
}

.search-control::before {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;

  margin-top: -1px;
  margin-left: -6px;

  width: 12px;
  height: 3px;

  background-color: var(--search-control-color);
}

.search-control-plus::after {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;

  margin-top: -5px;
  margin-left: -2px;

  width: 3px;
  height: 11px;

  background-color: var(--search-control-color);
}

.search-control-plus::before {
  width: 11px;
  margin-left: -6px;
}

.control-children-minus::before {
  margin-left: -5px;
}

.control-children-plus::before {
  margin-left: -5px;
}

.control-children-plus::after {
  margin-left: -1px;
}

.search-control:hover:before,
.search-control:hover:after,
.search-control:focus:before,
.search-control:focus:after {
  background-color: var(--basic-color);
}

.search-control:active:before,
.search-control:active:after {
  background-color: var(--element-color);
}

.search-form-button {
  width: 100%;
  padding: 16px 20px 16px;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--element-color);
}

.search-form-button:hover,
.search-form-button:focus {
  background-color: var(--element-hover-color);
}

.search-form-button:active {
  color: var(--basic-content-opacity);
  background-color: var(--element-active-color);
}

.search-map {
  width: 1200px;
  height: 593px;
}

/*main-footer*/

.main-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 23px 73px 36px;
  text-align: center;
  background-color: var(--basic-content-color);
  opacity: 0.9;
}

.inner-page .main-footer {
  position: static;
}

.footer-contacts {
  width: 327px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-contacts-hashtag {
  display: block;
  margin-bottom: 9px;
}

.footer-contacts-link {
  font: inherit;
  color: var(--basic-color);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 254px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  margin-right: 6px;
  margin-top: 13px;
}

.footer-social-item:last-child,
.footer-social-item:nth-child(5n) {
  margin-right: 0;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  font: inherit;
  color: inherit;
  background-color: var(--element-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--element-hover-color);
}

.footer-social-link:active {
  background-color: var(--element-active-color);
}

.footer-social-link:active svg {
  fill: var(--basic-content-opacity);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 327px;
  padding-top: 10px;
  line-height: 26px;
}

.footer-copyright-text {
  margin-top: 4px;
  margin-right: 9px;
}

.footer-copyright-link {
  line-height: 0;
}

.footer-copyright-link:hover svg,
.footer-copyright-link:focus svg {
  fill: var(--element-color);
}

.footer-copyright-link:active svg {
  fill: var(--footer-logo-color);
}

/*filters*/

.filter {
  width: 100%;
  padding: 25px 73px 32px;
  color: var(--basic-content-color);
  background-color: var(--image-bg-color);
  background-image: url("../img/bg/blurry-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-hotels {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
}

.filter-hotels-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-hotels legend {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px
}

.filter-infrastructure,
.filter-type-housing {
  min-width: 253px;
  padding-right: 30px;
}

.filter-infrastructure legend,
.filter-type-housing legend {
  margin-bottom: 26px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-item {
  margin-left: 39px;
  margin-bottom: 25px;
}

.filter-item-housing {
  margin-left: 43px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filter-input + label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.filter-input:checked + label::before {
  width: 27px;
  background-image: url("../img/svg/checkbox-on.svg");
}

.filter-item-housing .filter-input + label::before {
  left: -42px;
}

.filter-input:disabled + label::before {
  opacity: 0.3;
}

.filter-input-wifi + label::before,
.filter-input-apartments +label::before {
  top: -1px;
}

.filter-controls {
  width: 317px;
  justify-self: end;
}

.filter-controls legend {
  margin-bottom: 12px;
}

.filter-controls-price {
  position: relative;
  display: flex;
  align-content: center;
  margin-bottom: 20px;
  padding: 5px 4px 6px;
  border: 2px solid var(--basic-content-color);
  border-radius: 2px;
}

.filter-controls-price::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: 1px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-content-color);
}

.filter-label-min {
  width: 100%;
  padding-left: 62px;
}

.filter-label-max {
  width: 100%;
  padding-left: 52px;
}

.filter-controls-input {
  width: 65px;
  padding: 0;
  text-transform: uppercase;
  color: var(--basic-content-color);
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 21px;
}

.filter-renge {
  padding-left: 1px;
  margin-bottom: 33px;
}

.filter-renge .scale {
  height: 2px;
  background-color: var(--basic-content-opacity);
}

.filter-renge .bar {
  position: relative;
  width: 80%;
  height: 2px;
  background-color: var(--basic-content-color);
}

.filter-renge .toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: var(--toggle-color);
  border: 8px solid var(--basic-content-color);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--toggle-color);
  box-sizing: content-box;
  cursor: pointer;
}

.filter-renge .toggle-max {
  left: 100%;
}

.filter-renge .toggle:hover,
.filter-renge .toggle:focus,
.filter-renge .toggle:active {
  top: -10px;
  width: 4px;
  height: 4px;
  border: 9px solid var(--basic-content-color);
}

.filter-button {
  margin-left: 85px;
  padding: 5px 34px 6px;
  font: inherit;
  text-transform: uppercase;
  color: var(--basic-content-color);
  background-color: transparent;
  border: 2px solid var(--basic-content-color);
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--basic-color);
  background-color: var(--basic-content-color);
}

/*hotels*/

.hotels-sort {
  display: grid;
  grid-template-columns: max-content min-content 1fr 34px;
  align-items: center;
  padding: 29px 73px 31px;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid var(--border-color);
}

.hotels-sort-found {
  min-width: 163px;
  max-width: 300px;
  margin: 0;
  padding-right: 20px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px
}

.hotels-sort-found span {
  display: inline-block;
  margin-left: 5px;
}

.hotels-sort-title {
  display: block;
  margin-right: 40px;
  padding-bottom: 4px;
}

.hotels-sort-list {
  padding-bottom: 4px;
}

.hotels-sort-link {
  margin-right: 30px;
  color: var(--basic-color-opacity);
  border-bottom: 1px dashed var(--element-color);
}

.hotels-sort-link.active {
  color: var(--element-color);
  border-bottom-color: transparent;
  pointer-events: none;
}

.hotels-sort-link:hover,
.hotels-sort-link:focus {
  color: var(--element-color);
}

.hotels-sort-link:active {
  color: var(--basic-color);
  border-color: transparent;
}

.hotels-sort-controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 7px;
}

.hotels-control.active {
  pointer-events: none;
}

.hotels-control.active svg {
  fill: var(--element-color);
}

.hotels-control:hover svg,
.hotels-control:focus svg {
  fill: var(--basic-color);
}

.hotels-control:active svg {
  fill: var(--element-color);
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-item {
  display: grid;
  grid-template-columns: auto 1fr min-content;
  padding: 24px 73px 30px;
  border-bottom: 1px solid var(--border-color);
}

.hotel-item-image {
  width: 135px;
  height: 90px;
  margin-top: 6px;
  margin-right: 29px;
}

.hotel-item-wrapper {
  margin-right: 60px;
}

.hotel-item-title {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotel-item-title a {
  font: inherit;
  color: var(--basic-color);
}

.hotel-item-title a:hover,
.hotel-item-title a:focus {
  color: var(--element-color);
}

.hotel-item-title a:active {
  color: var(--basic-color-opacity);
}

.hotel-desert-quail .hotel-item-title {
  margin-left: 1px;
}

.hotel-item-villas .hotel-item-title {
  margin-top: 1px;
  margin-bottom: 6px;
}

.hotel-item-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.hotel-item-info span {
  min-width: 100px;
  margin-right: 16px;
}

.hotel-item-booking {
  color: var(--text-block-color);
}

.hotel-item-booking {
  display: flex;
  flex-wrap: wrap;
}

.hotel-detail-link {
  margin-right: 6px;
  padding: 3px 17px;
}

.hotel-detail-link {
  background-color: var(--element-color);
}

.hotel-detail-link:hover,
.hotel-detail-link:focus {
  background-color: var(--element-hover-color);
}

.hotel-detail-link:active {
  color: var(--basic-content-opacity);
  background-color: var(--element-active-color);
}

.hotel-order-link {
  margin-right: 6px;
  padding: 3px 18px 3px 16px;
}

.hotel-rating-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 200px;
}

.hotel-rating {
  padding: 3px 12px 3px 15px;
  color: var(--hotel-rating-color);
  background-color: var(--basic-bg-color);
}

.hotel-rating-star {
  position: relative;
  width: 113px;
  height: 17px;
  margin-top: 5px;
}

.hotel-desert-quail .hotel-rating-star {
  margin-top: 4px;
}

.hotel-rating-star::before {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  width: 113px;
  height: 17px;
  background-image: url("../img/svg/star-icon.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

.hotel-one-star::before {
  width: 20%;
}

.hotel-two-star::before {
  width: 40%;
}

.hotel-three-star::before {
  width: 60%;
}

.hotel-four-star::before {
  width: 80%;
}












